@font-face {
   font-family: 'Champagne & Limousines';
   font-display: swap;
   src: url('file:///Users/rachelbigelow/Documents/MOBIRISE%20BACKUP/Krave%20Body%20Contouring/fonts/Champagne%20&%20Limousines/font.ttf');
}
